[Desktop Entry]
Name=shrimpOS startup system
Comment=Ensures that necessary packages are installed
Exec=/usr/bin/shrimpOS_flatpaks_installer
Icon=org.gnome.Terminal
Type=Application
Categories=Utility;System;
Name[en_US]=startup